.picture{
    background-image:url("https://png.pngtree.com/background/20230425/original/pngtree-old-vintage-looking-abacus-in-the-middle-of-a-dark-background-picture-image_2469095.jpg ");
    background-size:cover;
    height:100vh;
}
.heading{
    color:red;
    font-weight:light;
    font-family: "fantacy";
    font-size: 100px;
}