.navbar-image {
    width: 100px;
    height: 100px;
    padding: 5px;
  }
  .colour {
    background-color:#f2c32b;
    background-size: cover;
    color: #040000;
    margin-left: auto;
}

.navbar-nav{
    font-weight: 700;
    font-style: italic;
    text-align: end;
}

.nav-icon {
    height: 60px;
    width: 100%;
    margin-left: auto;
}

.icon-c {
    background-color: white;
}
.heading{
    color:black;
    font-weight:light;
    font-style:italic;
    font-family: "fantasy";
    font-size: 50px;
    margin-top:60px;
    margin:auto;
    text-align: center;

}